.app {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr minmax(33rem, 33rem) 1fr;
      grid-template-columns: 1fr minmax(33rem, 33rem) 1fr;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar {
  width: 100%;
  height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.sidebar .twitter-icon {
  padding: .75rem;
  color: #1DA1F2;
  border-radius: 2rem;
}

.sidebar .twitter-icon:hover {
  background: #def1fd;
  cursor: pointer;
}

.sidebar .sidebarOption-container {
  margin-right: 1.5rem;
  line-height: 2rem;
  color: #14171A;
}

.sidebar .sidebarOption-container .sidebarOption {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem;
  border-radius: 2rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .sidebarOption-container .sidebarOption .icon-container {
  min-width: 2.5rem;
}

.sidebar .sidebarOption-container .sidebarOption:hover {
  background: #dfe3e7;
  cursor: pointer;
}

.sidebar .sidebarOption-container .active {
  color: #1DA1F2;
}

.sidebar .sidebarOption-container .btn-tweet {
  width: 100%;
  margin-top: 2rem;
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn-primary {
  background: #1DA1F2;
  color: #FFFFFF;
}

.btn.btn-primary:hover {
  background: #0c85d0;
}

.btn.btn-secondary {
  background: #14171A;
  color: #FFFFFF;
}

.btn.btn-secondary:hover {
  background: #2a3137;
}

.feed {
  border: 1px solid #E1E8ED;
}

.feed .header {
  width: 100%;
  height: 3.5rem;
  background: #FFFFFF;
  border-bottom: 1px solid #E1E8ED;
  border-right: 1px solid #E1E8ED;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.feed .header .top-tweets {
  color: #14171A;
  padding: .75rem;
  border-radius: 2rem;
}

.feed .header .top-tweets:hover {
  cursor: pointer;
  background: #dfe3e7;
}

.feed .tweetBox {
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid #E1E8ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feed .tweetBox .userImg-area {
  width: 15%;
}

.feed .tweetBox .userImg-area .userImg-container {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271deea8-e28c-41a3-aaf5-2913f5f48be6/de7834s-6515bd40-8b2c-4dc6-a843-5ac1a95a8b55.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI3MWRlZWE4LWUyOGMtNDFhMy1hYWY1LTI5MTNmNWY0OGJlNlwvZGU3ODM0cy02NTE1YmQ0MC04YjJjLTRkYzYtYTg0My01YWMxYTk1YThiNTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BopkDn1ptIwbmcKHdAOlYHyAOOACXW0Zfgbs0-6BY-E");
  background-size: cover;
  background-position: center;
}

.feed .tweetBox .input-container {
  width: 100%;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.feed .tweetBox .input-container input {
  border: none;
  font-size: larger;
  padding-bottom: 1em;
  border-bottom: 1px solid #E1E8ED;
}

.feed .tweetBox .input-container input:focus {
  outline: none;
}

.feed .tweetBox .input-container .options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feed .tweetBox .input-container .options-container .icon-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: visible;
}

.feed .tweetBox .input-container .options-container .icon-container i {
  padding: .75rem;
  color: #1DA1F2;
  border-radius: 2rem;
}

.feed .tweetBox .input-container .options-container .icon-container i:hover {
  background: #def1fd;
  cursor: pointer;
}

.feed .tweetBox .input-container .options-container .btn-tweet {
  padding: .6rem;
}

.post {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid #E1E8ED;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */